<% @articles.each do |article| %>
  <div class="card mt-3 post">
    <div class="card-header d-flex align-items-center">
      <%= link_to user_path(article.user), class: "no-text-decoration" do %>
        <%= image_tag article.user.avatar, class: "post-author-icon" %>
      <% end %>
      <%= link_to user_path(article.user), class: "normal-color no-text-decoration",
        title: article.user.name do %>
        <strong><%= article.user.name %></strong>
      <% end %>
      <% if article.is_belongs_to? current_user %>
        <%= link_to article_path(article), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
          <i class="far fa-trash-alt" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <%= render "images", {article: article} %>
    
    <div class="card-body">
      <div class="row actions">
        <div id="like-icon-post-<%= article.id.to_s %>">
          <%= render "like_icon", {is_liked: article.is_liked(current_user), article: article} %>
        </div>
        <a href="#" class="core-sprite comment hide-text">Comment</a>
        <div id="bookmark-icon-post-<%= article.id.to_s %>" class="ml-auto">
          <%= render "bookmark_icon", {is_bookmarked: article.is_bookmarked(current_user), article: article} %>
        </div>
      </div>
      <div id="like-text-post-<%= article.id.to_s %>">
        <%= render "like_text", {likes: article.likes} %>
      </div>
      <div>
        <span><strong><%= article.user.name %></strong></span>
        <span><%= article.content %></span>
      </div>
      <!-- load comments -->
      
      <%= link_to time_ago_in_words(article.created_at).upcase + " AGO", article_path(article),
        class: "light-color post-time no-text-decoration" %>
      <hr>
      <div class="row actions" id="comment-form-post-<%= article.id.to_s %>">
        <%= render 'comment_form', {article: article} %>
      </div>
      
      <div id="comment-post-<%= article.id.to_s %>">
        <%= render 'comment_list', {article: article} %>
      </div>
    </div>
  </div>
<% end %>
