<div class="d-flex flex-column align-items-center mt-3">
  <div class="row post box col-xl-10 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 px-0 d-flex post-show-img">
      <div class="align-self-center">
        <%= render "images", {article: @article} %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0">
      <div class="row px-3 d-flex align-items-center">
        <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
          <%= image_tag avatar_url(@post.user), class: "post-author-icon" %>
        <% end %>
        <%= link_to user_path(@article.user), class: "no-text-decoration" do %>
          <%= image_tag (@article.user).avatar, class: "post-author-icon" %>
        <% end %>
        <%= link_to user_path(@article.user), class: "normal-color no-text-decoration d-flex align-self-center",
          title: @article.user.name do %>
          <strong><%= @article.user.name %></strong>
        <% end %>
        <% if @article.is_belongs_to? current_user %>
          <%= link_to article_path(@article), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <hr class="mb-0">
      <div class="comment-list py-2">
      <% if @article.content.present? %>
        <div>
          <span><strong><%= @article.user.name %></strong></span>
          <span><%= @article.content %></span>
        </div>
      <% end %>
    </div>
  </div>
        <div id="like-icon-post-<%= @article.id.to_s %>">
          <%= render "like_icon", {is_liked: @is_liked, article: @article} %>
        </div>
        <div class="row actions" id="comment-form-post-<%= @article.id.to_s %>">
        <%= render 'comment_form', article: @article %>
      </div>
</div>
